<!-- This template is for displaying search body -->
<style>
  .backBtn{
    height: 3rem;
    transform: translate(-22rem,4rem);
  }
</style>

 <% layout("/layouts/boilierPlate") -%>
  <a href="/listings/back" class="btn btn-secondary backBtn">&lt;&lt;Back</a>
 <div class="row mb-3">
   <% for(let list of requestedListing){ %>
   <div class="card col listing-card">
    <a href="/listings/<%= list._id %>" class="listing-link">
    <img src="<%= list.image.url %>" class="card-img-top" alt="listing_image" style="height : 20rem;">
      <div class="card-img-overlay">
         <!-- new listing -->
      </div>
     </a>
      <div class="card-body">
       <h5 class="card-title"><%= list.title %></h5>
       <p class="card-text">
        &#8377;<%= list.price.toLocaleString("en-IN")%>/3nights       
        <i class="tax-info"> &nbsp;&nbsp; +18%GST</i>
      </p>
      <a href="/listings/<%= list._id %>" class="btn btn-primary">Know more>></a>
     </div>
   </div>
   <% } %>
 </div>

